header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: #DDDDDD solid 1px;
}

.logo {
    background-image: url("../images/logo.png");
    margin-left: 20px;
    height: 60px;
    width: 140px;
    border-bottom: none;
}