/* Definition general class Places*/

.places {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* heading styles */

.places h1 {
    font-size: 30px;
    text-align: left;
    padding: 15px;
    flex-basis: 90%;
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F solid 1px;
    border-radius: 4px;
}

article h2 {
    font-size: 30px;
    text-align: center;
    align-content: center;
}