/* Definition general class Places*/

.places {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* heading styles */

.places h1 {
    font-size: 30px;
    text-align: left;
    padding: 0;
    padding-bottom: 0;
    padding-top: 30px;
    margin-left: -70px;
    flex-basis: 90%;
}

article {
    width: 450px;
    padding: 30px;
    margin: 20px;
    border: #FF5A5F solid 1px;
    border-radius: 4px;
}

.places h2 {
    font-size: 30px;
    text-align: center;
    width: 75%;
    align-content: center;
}

.price_by_night {
    color: #FF5A5F;
    border: #FF5A5F solid 4px;
    border-radius: 50%;
    text-align: center;
    min-width: 60px;
    width: 80px;
    height: 80px;
    font-size: 30px;
    line-height: 70px;
    margin-bottom: 10px;
    margin-left: 270px;
    margin-top: -50px;
}

.information {
    height: 80px;
    border-bottom: #DDDDDD solid 1px;
    border-top: #DDDDDD solid 1px;
    display: flex;
    font-size: 16px;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
}

.max_guest {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number_rooms {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number_bathrooms {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon_guest {
    background-image: url('../images/icon_group.png');
    width: 50px;
    height: 50px;
}

.icon_bed {
    background-image: url('../images/icon_bed.png');
    width: 50px;
    height: 50px;
}

.icon_bath {
    background-image: url('../images/icon_bath.png');
    width: 50px;
    height: 50px;
}

.user {
    padding: 10px 0;
}

.places .amenities {
    grid-column: 1 / 5;
    margin-top: 40px;
    text-align: left;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.places .amenities h2 {
    font-size: 16px;
    border-bottom: #DDDDDD solid 1px;
    text-align: left;
    padding-bottom: 10px;
}

.places .amenities ul {
    list-style-type: none;
    padding-top: 20px;
}

.places .amenities li {
    display: flex;
    text-align: justify;
}